/* Semantic UI has a bunch of very specific class stylings
This boosts my specificity up so these styles actually show up */
#EventFilter-Dropdown {
  width: 30vw;
  min-width: 16em;
  --mybg: hsl(
    var(--bg-hue),
    var(--bg-sat),
    calc(var(--bg-light) + calc(15% * var(--cs)))
  );
  --illuminated: hsl(
    var(--bg-hue),
    var(--bg-sat),
    calc(var(--bg-light) + calc(25% * var(--cs)))
  );
}
#EventFilter-Dropdown,
#EventFilter-Dropdown [class*="menu"] {
  background-color: var(--mybg);
  border-color: var(--transparent);
  color: var(--default-text);
}
/* Targets the default text of the dropdown */
#EventFilter-Dropdown [class*="divider"],
#EventFilter-Dropdown [class*="text"] {
  color: var(--default-text);
}
#EventFilter-Dropdown [class*="label"] {
  color: var(--default-text);
  font-weight: lighter;
  background-color: var(--illuminated);
}

#EventFilter-Dropdown [class*="selected"],
#EventFilter-Dropdown [class*="item"]:hover {
  background-color: var(--illuminated);
}

#EventFilter-Dropdown:focus-within,
#EventFilter-Dropdown [class*="menu"] {
  border-color: var(--default-text);
}
