.WorkSamples {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.WorkSamples h1 {
  font-size: 2.5rem;
  margin: 1em 0em 0.5em;
  text-align: center;
}
.WorkSamples > p {
  font-size: 16px;
  margin: 0.5em 1em;
  max-width: 60em;
}

/* For github link */
.WorkSamples a {
  text-decoration: none;
  color: var(--light-grey);
  position: relative;
}
.WorkSamples p a:hover {
  color: var(--default-color);
}
.WorkSamples p a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--default-text);
  bottom: -2px;
  left: 0;
}
