.InviteOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--light-box-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.overlay-content {
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-color);
  border-radius: 0.8em;
  padding: 1em;
  /* padding-right: 2.5em; */
  border: 1px solid var(--mid-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.close [class*="CloseIcon"] {
  fill: var(--default-text);
  height: 100%;
  width: 100%;
}

.InviteOverlay .overlay-content h2 {
  margin: 0em 2em 0.5em;
  text-align: center;
}

.InviteOverlay .overlay-content > * {
  margin: 0.5em;
}

button.close {
  position: absolute;
  top: 0em;
  right: 0em;
  border: 1px solid var(--default-text);
  background-color: var(--transparent);
  padding: 0.2em;
  border-radius: 2em;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.send {
  margin: 0 0 0 1em;
  padding: 0.5em 0.8em;
}

.invite {
  --err-color: var(--error-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}
.invite label {
  width: 8em;
  margin-bottom: 0.8em;
}

.invite input {
  all: unset;
  cursor: pointer;
  background-color: var(--bg-brighter);
  border-bottom: 1px solid var(--mid-grey);
  padding: 0.3em;
  border-radius: 0.3em 0.3em 0 0;
}

.invite.notify {
  margin-bottom: 1.5em;
}

/* need this so the after element stays inside */
.invite.notify > div {
  position: relative;
}

.invite.notify > div:after {
  content: attr(data-notify);
  position: absolute;
  top: 2.2em;
  left: 0;
}

.invite.err > div:after {
  color: var(--err-color);
}
.invite.suc > div:after {
  color: hsl(var(--green-hue), 50%, 50%);
}

.invite.err input {
  border-color: var(--err-color);
}

.invite-link {
  white-space: nowrap;
  max-width: 100%;
  overflow: auto;
  display: inline-block;
}
