.DrawWithFriends {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.DrawWithFriends button {
  /* all: unset; */
  padding: 0.5em;
  border-radius: 0.3em;
  margin: 0.5em;
  text-align: center;
}

.DrawWithFriends h1 {
  margin: 1em 0;
  font-size: min(8vw, 32px);
}

.body {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: space-between;
}

input.board-name {
  all: unset;
  cursor: pointer;
  font-size: 2em;
  color: var(--my-yellow);
  border-bottom: 1px solid var(--transparent);
  text-align: center;
  padding: 0em;
  max-width: 10em;
  margin: 0.3em 0;
}
input.board-name:focus {
  border-bottom: 1px solid var(--my-yellow);
}

@media only screen and (max-width: 1000px) {
  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .DrawWithFriends h1 {
    margin: 0.2em 0;
  }
}
