.Lobby {
  --error-color: rgb(197, 81, 81);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Lobby h1,
.Lobby h2 {
  text-align: center;
  margin-bottom: 0.4em;
}

.Lobby input {
  all: unset;
  cursor: pointer;
  background-color: var(--bg-brighter);
  border-bottom: 1px solid var(--mid-grey);
  padding: 0.2em 0.3em;
  margin: 0.2em 0;
  border-radius: 0.3em 0.3em 0 0;
}

.Lobby input:focus {
  background-color: var(--bg-brighter-2);
}

/* This needs this level of specificity, probablyu because of semantic */
.Lobby button {
  margin: 1em 0 0em;
  padding: 0.8em 1em;
  /* background-color: var(--my-sky-blue);
  color: var(--opposite-text);
  font-weight: bolder; */
}

.name-input {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 2em;
  width: calc(100vw - 4em);
  align-items: flex-start;
}

.previews {
  /* --button-margin: 0.3em; */
  --grid-gap: 1em;
  --janky-margin: calc(var(--grid-gap) * 2);
  --grid-width: calc(100vw - var(--janky-margin));
  --col-width: min(15em, calc((var(--grid-width) - var(--grid-gap)) / 2));
  width: var(--grid-width);
  margin: 1em 0;
  /* padding: 0 1em; */
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--col-width));
  justify-content: center;
  grid-gap: var(--grid-gap);
}
.invite-col .enter-room {
  margin-bottom: 1em;
}
/* Needed to increase the level of specificity to get it to show up correctly */
.previews .preview-box,
.invite-col .preview-box {
  color: var(--default-text);
  box-sizing: border-box;
  --button-width: calc(var(--col-width));
  width: var(--button-width);
  max-width: var(--button-width);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-brighter);
  border-radius: 0.3em;
  /* give it an invisible border so it doesn't shift around when hovered */
  border: 1px solid var(--transparent);
}

.invite-col .preview-box {
  --button-width: min(80vw, 40em)
}

.previews .preview-box h3,
.invite-col .preview-box h3 {
  white-space: nowrap;
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 0;
}

.previews .preview-box:hover,
.previews .preview-box:focus,
.invite-col .preview-box:hover,
.invite-col .preview-box:focus {
  background-color: var(--bg-brighter-2);
  border: 1px solid var(--light-grey);
}

.users {
  margin: 0.3em;
}
.invite-col {
  margin-top: 1.5em;
}
.invite-blurb {
  margin: 0em 0 0.5em 0;
  width: min(80vw, 60ch);
}

/* ERROR STYLING */
.Lobby .missing-username label {
  color: rgb(255, 154, 154);
}
.Lobby .missing-username input {
  border-color: rgb(197, 81, 81);
}
.missing-username .name-input:after {
  content: "Missing User Name";
  color: rgb(255, 154, 154);
}

@media only screen and (max-width: 800px) {
  .previews {
    --grid-gap: 0.5em;
  }
  /* Move this to the bottom of the screen*/
  .Lobby .see-all {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
  }
}
