.PaisleySwish {
  --paisley-fill: black;
  --animation-speed: 3.5s;
}
.PaisleySwish [id*="cover"] {
  /* animation: draw 2s ease forwards; */
  --stroke-length: 156%;
  stroke-dasharray: var(--stroke-length);
  stroke: var(--bg-color);
  stroke-opacity: 1;
}

.PaisleySwish [id*="swish"] {
  fill: var(--paisley-fill);
  fill-opacity: 1;
}

.PaisleySwish [id*="PaisleySwish"] {
  --base-delay: 1s;
  --delay: calc((0.2 / 1.5) * var(--animation-speed));
}

.PaisleySwish svg {
  height: 100%;
  width: 100%;
}

.PaisleySwish [id*="timing-1"] * {
  animation-delay: calc(0 * var(--delay) + var(--base-delay));
}
.PaisleySwish [id*="timing-2"] * {
  animation-delay: calc(1 * var(--delay) + var(--base-delay));
}
.PaisleySwish [id*="timing-3"] * {
  animation-delay: calc(2 * var(--delay) + var(--base-delay));
}
.PaisleySwish [id*="timing-4"] * {
  animation-delay: calc(3 * var(--delay) + var(--base-delay));
}
.PaisleySwish [id*="timing-5"] * {
  animation-delay: calc(4 * var(--delay) + var(--base-delay));
}
.PaisleySwish [id*="timing-6"] * {
  animation-delay: calc(5 * var(--delay) + var(--base-delay));
}
.PaisleySwish [id*="timing-7"] * {
  animation-delay: calc(6 * var(--delay) + var(--base-delay));
}
.PaisleySwish [id*="timing-8"] * {
  animation-delay: calc(7 * var(--delay) + var(--base-delay));
}

.PaisleySwish [id*="PaisleySwish"] [id^="cover"] {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .PaisleySwish [id*="PaisleySwish"] [id^="cover"] {
    display: block;
    animation-name: swish-draw;
    animation-duration: var(--animation-speed);
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
}

@keyframes swish-draw {
  from {
    stroke-dashoffset: 0%;
  }
  to {
    stroke-dashoffset: calc(-1 * var(--stroke-length));
  }
}
