.DrawWithFriends {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DrawWithFriends button {
  all: unset;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  margin: 0.5em;
  background-color: var(--my-sky-blue);
  color: #000;
}

.button-row {
  display: flex;
}

.DrawWithFriends .fabric-wrapper {
  margin: 2em;
  border: 0.2em solid #fff;
  background-color: #aaa;
}
