/* Learning takeaways from this experience:
- You can totally use :focus or :focus-within to do the sort of overlay styling I wanted
in a pure css way
- Things break down if you're doing an overlay and the overlay has buttons/links inside that need
to behave slighly differently when you click on them both inside and outside the overlay view
*/

.body {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 0.3em;
  --body-color: var(--bg-brighter);
  background-color: var(--body-color);
}

.noWrap {
  white-space: nowrap;
}

/* When the element is open, I want the sapce saver to take up the same horizontal size as the original component */
.space-saver.open,
.body {
  /* Had to decrease this by 1em to account for scrollbars  */
  width: calc(
    (
        100vw - (2 * var(--body-padding)) - 1em -
          ((1vw + 2em) * (var(--number-of-colums)))
      ) / var(--number-of-colums)
  );
  margin: 0.8em 0.5vw;
  padding: 0.5em 1em;
}

.body:hover,
.hidden:focus + .body {
  background-color: hsl(
    var(--bg-hue),
    var(--bg-sat),
    calc(var(--bg-light) + calc(18% * var(--cs)))
  );
}

.list h2 {
  font-family: var(--my-header-font);
  color: var(--my-yellow);
  margin: 0 0 0.1em;
}

.event-body,
.blurb {
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
  display: flex;
}

.event-body {
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.info-col {
  flex: 2 0 16ch;
  margin-right: 0.5em;
}
.info-col > .info-row {
  margin: 0.3em 0;
}
.info-col > .info-row > .info-text {
  white-space: nowrap;
}
.info-col > .info-row > .info-text > .details {
  white-space: normal;
}
.info-col label {
  font-weight: normal;
}
/* With multiple links I want them to show up stacked as an indented list */
.info-col .link,
.info-col .links {
  color: var(--default-text);
  text-decoration: none;
}
.info-col .links {
  display: block;
}
.info-col .link:hover,
.info-col .links:hover {
  text-decoration: underline;
}

.event-body .image {
  flex: 1;
  margin-bottom: 0.5em;
  min-width: 180px;
  max-width: 280px;
}

.DanceEventBG .close [class*="Icon"] {
  fill: var(--default-text);
}
.DanceEventBG .close,
/* All detials will be hidden until focused  */
.DanceEventBG .details {
  display: none;
}
.DanceEventBG.open .details {
  display: inline;
}
.DanceEventBG.open {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-box-color);
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

/* Add margin when looking at focused dance event */
.DanceEventBG.open .info-col > div {
  margin: 0.5em 0;
}

.blurb {
  margin-top: 1em;
  max-width: 25em;
  overflow-y: auto;
  overflow-x: hidden;
}

.DanceEventBG.open .body {
  width: 30em;
  /* height: 25em; */
  max-width: 85vw;
  max-height: 85vh;
  padding: 1em 1em;
  position: relative;
}
.DanceEventBG.open .close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  background-color: var(--transparent);
  border: 2px solid var(--mid-grey);
  border-radius: 3em;
  height: 1.8em;
  width: 1.8em;
  color: var(--default-text);
}

/* I want to disable the hover stuff when the event is focused */
.DanceEventBG.open .body:hover {
  background-color: var(--body-color);
}
.hidden {
  all: unset;
  position: fixed;
}

@media only screen and (max-width: 800px) {
  .info-col,
  .details {
    font-size: 1.15rem;
  }
}
