.App {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
.App section {
  height: 100vh;
  scroll-snap-align: start;
}
