/* This class will by dynamically applied to the element I want to highlight when that's the element I'm explaining */

/* Overlay Content */
.ExplainOverlay {
  height: 100%;
  width: 100%;
  /* padding: 5vh 5vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* THe modified BG makes more sense here because I'm moving the content around
  and I'm bringing stuff back and forth over this bg layer */
  background-color: hsl(var(--bg-hue), var(--bg-sat), var(--bg-light), 0.7);
  /* var(--light-box-color); */
  z-index: 102;
  box-sizing: border-box;
}

.ExplainOverlay .spacer {
  flex: 1;
  margin: 5vh 5vw;
}

.ExplainOverlay .main.spacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ExplainOverlay .overlay-content {
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-color);
  border-radius: 0.8em;
  padding: 1em;
  /* padding-right: 2.5em; */
  border: 1px solid var(--mid-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ExplainOverlay p {
  margin-bottom: 1em;
}

.ExplainOverlay [class$="Icon"] {
  transform: translate(0, 0.5em) scale(0.8);
}

.ExplainOverlay button {
  border: none;
  padding: 0.5em 1em;
  font-family: var(--my-general-font);
  background-color: var(--bg-brighter-2);
  color: var(--default-text);
  font-size: 1rem;
  border-radius: 0.4em;
  white-space: nowrap;
}
/* when this was written as ".rotate" it gets exported as a modularized css class */
.ExplainOverlay * [class*="rotate"] {
  transform: translate(0, 0.5em) scale(0.8) rotate(180deg);
}

.ExplainOverlay .overlay-content ul {
  margin: 1em 2em;
}

.ExplainOverlay .overlay-content ul li {
  margin: 0.3em 0;
}

.ExplainOverlay .overlay-content h2 {
  margin-bottom: 1rem;
}

.ExplainOverlay[class*="crew"],
.ExplainOverlay[class*="recruits"] {
  flex-direction: row-reverse;
}

.ExplainOverlay .noWrap {
  white-space: nowrap;
}

@media screen and (max-width: 950px) {
  .ExplainOverlay {
    flex-direction: column-reverse;
  }

  .ExplainOverlay[class*="chart"] .spacer {
    flex: 2;
  }

  .ExplainOverlay[class*="crew"],
  .ExplainOverlay[class*="recruits"] {
    flex-direction: column;
  }
}
